<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
   
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body ></body>
    <header class="head">
        <div class="container-data">
            <img src="../new/springboard_logo.png" />
            <div id="ratecounter">

            </div>
        </div>
    </header><br />
    <section class="main-data" >
        <div id="searchcontent">
            <input type="text" placeholder="search" />
            <section id="nav-data">
                <div id="head"></div>
                <div id="img"></div>
                <div id="data"></div>

                <span id="learn"></span><br />
                <span id="hours"></span>

                <div id="descrip"></div>
            </section>
            <section id="search-sort">
                
            </section>
        </div><br />
        <footer id="search-data">

            <table id="tcontent">
                <!---- <span ng-click="left-click=click+1"><</span> -->
                <tbody id="tbody">
                    
                </tbody>
                <!-- <span ng-click="right-click=click-1">></span>
                 <span>{{}}</span> -->
                

            </table>
        </footer>
    </section>

   <script src="../js/jquery.js"></script>
    <script src="../js/angular.js"></script>
    <script src="../js/scripttask.js"></script>


</body>
</html>